
.ui-modal {
  position: fixed;
  width: 60%;
  height: 200px;
  border: 1px solid #e6e6e6;
  left: 20%;
  background: #FFF;
  text-align: center;
  box-sizing: border-box;
  top: 100px;
  .close {
    position: absolute;
    right: 10px;
    top: 8px;
    cursor: pointer;
  }
  h2 {
    background: #e6e6e6;
    font-weight: normal;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 13px;
    color: #313131;
    text-align: left;
  }
  button {
    font-size: 16px;
    border: none;
    padding: 11px 26px;
    border-radius: 4px;
    margin-right: 10px;
    background: #e6e6e6cc;
    cursor: pointer;
    margin-top: 20px;
  }
  input {
    width: 90%;
    padding: 12px 20px;
    margin-top: 24px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-left: 0;
  }
}

.ui-delete {
  padding: 3px 4px;
}


.clearfix:after {
  display:block;
  content:'';
  clear:both;
}